html {
  background: black;
  color: white;
}

button {
  background-color: white;
  border: none;
  color: black;
}

button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3048ff), to(white));
  background-image: linear-gradient(#3048ff, white);
  color-color: white;
}

textarea {
  border-radius: 3px;
}

a {
  font-size: 30px;
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #3048ff;
}

.layout {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.layout .top-input {
  width: 463px;
  border-bottom: 3px solid white;
}

.layout .top-input .input {
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.layout .top-input .button {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.notification {
  -webkit-animation: vanish 1s forwards;
          animation: vanish 1s forwards;
}

@-webkit-keyframes vanish {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0.9;
  }

  20% {
    opacity: 0.8;
  }

  30% {
    opacity: 0.7;
  }

  40% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.4;
  }

  70% {
    opacity: 0.3;
  }

  80% {
    opacity: 0.2;
  }

  90% {
    opacity: 0.1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes vanish {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0.9;
  }

  20% {
    opacity: 0.8;
  }

  30% {
    opacity: 0.7;
  }

  40% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.4;
  }

  70% {
    opacity: 0.3;
  }

  80% {
    opacity: 0.2;
  }

  90% {
    opacity: 0.1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

