html {
  background: black;
  color: white;
}

button {
  background-color: white;
  border: none;
  color: black;
}

button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3048ff), to(white));
  background-image: linear-gradient(#3048ff, white);
  color-color: white;
}

textarea {
  border-radius: 3px;
}

a {
  font-size: 30px;
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #3048ff;
}

.content {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.content .top-input {
  width: 463px;
  border-bottom: 3px solid white;
}

.content .top-input .input {
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.content .top-input .button {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

