html
  background: black
  color: white

a
  font-size: 30px
  text-decoration: none
  color: inherit
  &:hover
    color: #ff9100

#page
  height: 500px
  display: flex
  align-items: center
  justify-content: center